**Python Class â€“ How to define a constructor**

Youtube@YasirBhutta

**1. Establish a connection and create a cursor: **

In [62]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="abc1234",
    database="library"
)

mycursor = mydb.cursor()

**2. Construct the INSERT query:**

In [56]:
sql = "INSERT INTO books(id, title, author, isbn) VALUES (%s, %s, %s,%s)"
print(sql)

INSERT INTO books(id, title, author, isbn) VALUES (%s, %s, %s,%s)

**3. Prepare the data to insert:**

In [66]:
data_to_insert = (3, "Python for Data Analysis, 3E", "Wes McKinney","11122233444")
print(data_to_insert)

(3, 'Python for Data Analysis, 3E', 'Wes McKinney', '11122233444')

**4. Execute the insert:**

In [67]:
mycursor.execute(sql,data_to_insert)
mydb.commit()  # Commit the changes to the database

**5. Retrieve inserted row**

In [68]:
mycursor.execute("SELECT * FROM books WHERE id = 3")
myresult = mycursor.fetchall()
print(myresult)

[(3, 'Python for Data Analysis, 3E', 'Wes McKinney', '11122233444')]

**6. Close the connection:**

In [69]:
mycursor.close()
mydb.close()