**How to read data from mysql table using Python**

Youtube@YasirBhutta

**1. Install the library using pip:**

pip install mysql-connector-python

**2. Import the library and establish a connection to your MySQL database:**

In [42]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Yashna24",
    database="world"
)

**3. Create a cursor object to execute SQL queries:**

In [43]:
mycursor = mydb.cursor()

**4. Execute your SQL query using the cursor object:**

In [44]:
mycursor.execute("SELECT * FROM country LIMIT 10")

**5. Fetch the results of the query:**

In [45]:
myresult = mycursor.fetchall()

**6. Process the results (e.g., print, store in a data structure)**

In [46]:
for row in myresult:
  column1_value = row[0]
  column2_value = row[1]
  # OR
  #column1_value, column2_value = row[0:2]
  
  print(column1_value, column2_value)
  # Process the data from each column

ABW Aruba
AFG Afghanistan
AGO Angola
AIA Anguilla
ALB Albania
AND Andorra
ANT Netherlands Antilles
ARE United Arab Emirates
ARG Argentina
ARM Armenia

**7. Close the connection:**

In [41]:
mycursor.close()
mydb.close()