**Update data in table of mysql using Python**

Youtube@YasirBhutta

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="abc1234",
    database="library"
)

mycursor = mydb.cursor()

# Update a record with an ID of 5
sql = "UPDATE books SET title = %s WHERE id = %s"
data_to_update = ("Getting Started with Python", 3)

mycursor.execute(sql, data_to_update)
mydb.commit()

mycursor.close()
mydb.close()